.stack-work/
*~
temp/
docs/*.aux
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.pdf
docs/*.synctex.gz
docs/*.toc
docs/*.latex
docs/*.diag.tex
docs/*.bbl
docs/*.blg
docs/*.out

examplePrograms/*.c
examplePrograms/*.out

*.jar
